[Desktop Entry]
Version=1.0
Type=Link
Name=style - css
Comment=
Icon=user-bookmarks
URL=file:///home/ambolina/repos/css-exercises/flex/07-flex-layout-2/style.css
